.btn-outline {
    color: #10ddb4 !important;
    border-color: #10ddb4;
    transition: 2s;
    text-decoration: none;
}

.btn-outline:hover {
    color: white !important;
    background-color: #10ddb4;
}

.custom-select {
    background-color: #0d1319;
    color: white;
    border-color: white;
    transition: 2s;
}

.custom-select:focus {
    background-color: #0d1319;
    color: white;
    border-color: #10ddb4;
    box-shadow: none;
}

.custom-select option[selected] {
    background-color: orange;
}

::selection {
    background-color: #10ddb4;
    color: white;
}

.plan-card {
    background-color: #0d1319;
    border-radius: 10px;
    box-shadow: 0px 0px 13px -5px rgba(16, 221, 180);
    opacity: 0.92;
}

.btn-add {
    background-color: #0d1319;
    border-radius: 15px;
    width: 36px;
}

.tasklist {
    min-height: 200px;
}

.bg-threat {
    background-color: #0d1319;
}

.table-thead {
    color: #10ddb4;
    background-color: #0d1319;
}

.table-body {
    background-color: #0d1319;
    color: white;
}

.btn-blck {
    background-color: #0d1319;
}

.nav-tabs .nav-item .nav-link {
    color: #10ddb4;
}

.nav-tabs .nav-item .active {
    background-color: #0d1319;
    color: white;
    border: none;
}

.warrior-card-title {
    color: #10ddb4;
}

.card:hover{
    cursor:pointer;
}
textarea {
    border: 0px;
}

.error-header {
    color: white;
    border-bottom: 2px solid #10ddb4;
}

.result-icon {
    width: 28px;
}

.upload-subtitle {
    font-size: 3em;
}

.td-order {
    width: 30%;
    text-align: center;
}

.td-result {
    max-width: 400px;
    text-overflow: hidden;
    overflow-wrap: break-word;
    border: 1px solid white;
}

.text-attpwn {
    color: #10ddb4;
    font-size: 1.2em;
}

.text-attpwn-white {
    color: white;
    font-weight: 600;
    font-size: 1.4em;
}

.modal-attpwn {
    background-color: #0d1319;
    color: white;
    width: auto;
    border-radius: 20px;
}

.modal-table {
    border-radius: 20px;
    background-image: linear-gradient(#075848, #10ddb4);
    box-shadow: 0px 0px 10px 5px black;
    border: 2px solid #0d1319;
}

.modal-result-table {
    border-radius: 20px;
    background-image: linear-gradient(black, #0d1319);
    box-shadow: 0px 0px 10px 5px black;
    border: 2px solid #0d1319;
    border-top: 2px inset #10ddb4;
}

.modal-table tr td {
    border: 4px solid #0d1319;
    font-weight: 600;
    color: #0d1319;
    font-family: "Roboto";
    vertical-align: middle;
}

.modal-footer {
    border: none;
}

.modal-dialog-result {
    max-width: 675px !important;
}

.modal-result-tbody tr td {
    border: 3px solid #0d1319;
}

.modal-result-image {
    max-width: 100px;
}

.warrior-card {
    background-color: #0d1319;
    border-radius: 10px;
    box-shadow: 0px 0px 13px -5px rgba(16, 221, 180);
    opacity: 0.92;
    max-width: 32rem;
}

.text-md-center {
    font-size: 1em;
}

.flash {
    z-index: 11000;
    width: 30%;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.twitter {
    max-width: 70px;
}

.elipsis{
    display: none;
}

.more{
    color: #10ddb4;
}