canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}

/* ---- particles.js container ---- */

#particles-js {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

body {
  height: 110vh;
}
