{% extends 'base.html' %} {% block title %} Add Implementation {% endblock title %} {%block nav %}
<nav class="navbar navbar-expand-lg navbar-dark menu">
    <a class="navbar-brand" href="#"><span>ATT</span>Pwn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/#inicio">Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plan">Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/results">Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/warriors">Warriors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/attck">ATT&CK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ImportData">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>

{% endblock nav %} {% block content %}

<div class="row">
    <div class="col">
        <h2 class="text-center logo-2">Add loot from warrior {{Alias}}</h2>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-5 col-lg-4 py-4 plan-card text-center">
        <form class=" " name="form" onSubmit="return fieldValidation()" action="/set_data" method="post">
            <!-- User-->
            <div class="row justify-content-center my-3">
                <div class="col-md-1">
                    <img src="{{ url_for('static', filename='img/user.png') }}" class="result-icon" alt="user-logo" />
                </div>
                <div class="col-md-11">
                    <input class="form-control text-dark" type="text" placeholder="User" id="User" name="User" />
                    <input class="form-control text-dark" type="hidden" id="IDWarrior" name="IDWarrior" value="{{IDWarrior}}" />
                </div>
            </div>
            <!-- Password-->
            <div class="row justify-content-center my-3">
                <div class="col-md-1">
                    <img src="{{ url_for('static', filename='img/pwd.png') }}" class="result-icon" alt="pwd-logo" />
                </div>
                <div class="col-md-11">
                    <input class="form-control text-dark" type="text" placeholder="Password" id="Password" name="Password" />
                </div>
            </div>
            <!-- IP-->
            <div class="row justify-content-center my-3">
                <div class="col-md-1">
                    <img src="{{ url_for('static', filename='img/ip.png') }}" class="result-icon" alt="ip-logo" />
                </div>
                <div class="col-md-11">
                    <input class="form-control text-dark" type="text" placeholder="IP" id="IP" name="IP" />
                </div>
            </div>
            <!-- NTLM-->
            <div class="row justify-content-center my-3">
                <div class="col-md-1">
                    <img src="{{ url_for('static', filename='img/key.png') }}" class="result-icon" alt="key-logo" />
                </div>
                <div class="col-md-11">
                    <input class="form-control text-dark" type="text" placeholder="NTLM" id="NTLM" name="NTLM" />
                </div>
            </div>
            <!-- LM-->
            <div class="row justify-content-center my-3">
                <div class="col-md-1">
                    <img src="{{ url_for('static', filename='img/key.png') }}" class="result-icon" alt="key-logo" />
                </div>
                <div class="col-md-11">
                    <input class="form-control text-dark" type="text" placeholder="LM" id="LM" name="LM" />
                </div>
            </div>
            <!-- Port-->
            <div class="row justify-content-center my-3">
                <div class="col-md-1">
                    <img src="{{ url_for('static', filename='img/port.png') }}" class="result-icon" alt="key-logo" />
                </div>
                <div class="col-md-11">
                    <input class="form-control text-dark" type="text" placeholder="Port" id="Port" name="Port" />
                </div>
            </div>
            <!-- Insert button-->
            <div class="row justify-content-center mt-4">
                <div class="col-md-12">
                    <div class="text-center">
                        <button class="btn btn-outline w-100" id="insertBtn">Insert</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Alert Message-->
        <div class="row justify-content-center mt-2">
            <div class="col-md-12 text-center text-danger" id="alertMessage" style="display: none;">
                You need to complete at least 1 field
            </div>
        </div>
    </div>
</div>

<script>
    function fieldValidation() {
        if (
            form.User.value == "" &&
            form.Password.value == "" &&
            form.IP.value == "" &&
            form.NTLM.value == "" &&
            form.LM.value == "" &&
            form.Port.value == ""
        ) {
            document.getElementById("alertMessage").style.display = "block";
            return false;
        }
    }
</script>

{% endblock %}