{% extends 'base.html' %} {% block title %} Att&ck {% endblock title %} {%block nav %}
<nav class="navbar navbar-expand-lg navbar-dark menu">
  <a class="navbar-brand" href="#"><span>ATT</span>Pwn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/#inicio">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plan">Plan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/results">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/warriors">Warriors</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/attck">ATT&CK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ImportData">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock nav %} {% block content %}

<!-- Buttons -->
<section>
  <div class="row justify-content-center">

    <div class="col-4 my-2 py-2 text-center">

      <button class="btn btn-outline my-2" type="button" onclick="goimplementation(this)" id="implementation"
        data-toggle="tooltip" data-placement="top" title="Go to implementation view">
        View Implementations
      </button>

      <button class="btn btn-outline my-2" type="button" onclick="goAddimplementation(this)" id="addimplementation"
        data-toggle="tooltip" data-placement="top" title="Go to implementation view">
        Add Implementations
      </button>

      <button class="btn btn-blck btn-outline my-2" onclick="reset(this)" id="reset" data-toggle="tooltip"
        data-placement="top" title="Restore default database">
        Hard reset
      </button>
    </div>



  </div>
</section>
<!-- END Buttons -->
<!-- Selection -->
<section>
  <div class="row justify-content-center">
    <div class="col-md-4 mt-4 text-center justify-content-center">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="Threats" data-toggle="tab" onclick="swappage2(this)" href="" role="tab"
            aria-selected="true">Threats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="Tactics" data-toggle="tab" onclick="swappage(this)" href="" role="tab"
            aria-selected="false">Tactics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Techniques" data-toggle="tab" onclick="swappage(this)" href="" role="tab"
            aria-selected="false">Techniques</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- END Selection -->

<!--Table-->
<section>
  <div class="row justify-content-center mt-4">
    <div class="col-8 justify-content-center text-center">
      <div id="tableDiv">
        <table class="table plan-card text-white text-center table-borderless" id="tableData">
          <thead>
            <tr class="warrior-card-title">
              <th id="thID">ID</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for tactics in tacticslist %}
            <tr class="border-top">
              <td>{{ tactics.ID }}</td>
              <td>{{ tactics.Name}}</td>
              <td>{{ tactics.Information }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--END Table-->

<!--====== Javascripts & Jquery ======-->
<script>
  function swappage(sender) {
    var pulsador = sender.id;

    var datos = JSON.stringify({
      Datos: pulsador,
    });

    fetch("/givemetable", {
      method: "POST",
      body: datos,
    }).then(function (response) {
      response.json().then(function (data) {
        var table = document.getElementById("tableData");
        table.style.visibility = "visible";
        for (var i = table.rows.length - 1; i > 0; i--) {
          table.deleteRow(i);
        }
        for (i in data) {
          const posicion = data.length - i;
          var row = table.insertRow(table.rows.length);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          cell1.innerHTML = data[i]["ID"];
          cell2.innerHTML = data[i]["Name"];
          cell3.innerHTML = data[i]["Information"];
        }
        document.getElementById("thID").style.display = "block";
      });
    });
  }

  function swappage2(sender) {
    var pulsador = sender.id;

    var datos = JSON.stringify({
      Datos: pulsador,
    });

    fetch("/givemetable", {
      method: "POST",
      body: datos,
    }).then(function (response) {
      response.json().then(function (data) {
        var table = document.getElementById("tableData");
        table.style.visibility = "visible";
        for (var i = table.rows.length - 1; i > 0; i--) {
          table.deleteRow(i);
        }
        for (i in data) {
          const posicion = data.length - i;
          var row = table.insertRow(table.rows.length);
          var cell1 = row.insertCell(0);
          cell1.style.display = "none";
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          cell1.innerHTML = data[i]["ID"];
          cell2.innerHTML = data[i]["Name"];
          cell3.innerHTML = data[i]["Information"];
        }
        document.getElementById("thID").style.display = "none";
      });
    });
  }

  function implementations(sender) {
    var pulsador = sender.id;

    var datos = JSON.stringify({
      Datos: pulsador,
    });
    var table = document.getElementById("tableData");
    for (var i = table.rows.length - 1; i > 0; i--) {
      table.deleteRow(i);
    }
    var tableDiv = document.getElementById("tableDiv");
    table.style.visibility = "hidden";
    if (document.getElementById("Div1")) {
      var Div1 = document.getElementById("Div1");
      Div1.innerHTML = "";
    }

    var Div = document.createElement("Div"); // Create a <button> element
    Div.setAttribute("id", "Div1");
    var text_area = document.createElement("textarea"); // Create a <button> element
    text_area.innerHTML = "prueba"; // Insert text
    document.getElementById("tableDiv").appendChild(Div);
    document.getElementById("Div1").appendChild(text_area);
  }

  function reset(sender) {
    var pulsador = sender.id;

    var datos = JSON.stringify({
      Datos: pulsador,
    });
    console.log(pulsador);
    var message;
    var opcion = confirm(
      "This process will reset the database to default state."
    );
    if (opcion == true) {
      console.log("accept");
      $.ajax({
        type: "POST",
        url: "/reset",
        contentType: "application/json;charset=UTF-8",
        data: datos,
        dataType: "json",
        success: (window.location.href = "/"),
      });
    } else {
      message = "cancel";
      console.log(message);
    }
  }

  function goimplementation(sender) {
    window.location = "\implementation";
  }
  function goAddimplementation(sender) {
    window.location = "\add_Implementation";
  }
</script>

{% endblock %}