{% extends 'base.html' %} {% block title %} Error {% endblock title %} {%block
nav %}
<nav class="navbar navbar-expand-lg navbar-dark menu">
  <a class="navbar-brand" href="#"><span>ATT</span>Pwn</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/#inicio"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plan">Plan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/results">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/warriors">Warriors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/attck">ATT&CK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ImportData">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock nav %} {% block content %}

<div class="row">
  <div class="col">
    <h2 class="text-center logo-2">ERROR</h2>
  </div>
</div>

<section>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card plan-card">
          <div class="card-header error-header">
            Error
          </div>
          <div class="card-body">
            <div class="row justify-content-center my-4">
              <div class="col-md-10 rounded">
                <p class="text-white">{{message}}</p>
              </div>
            </div>

            <div class="row justify-content-end">
              <div class="col-md-2">
                <div class="text-center mt-4">
                  <a class="btn btn-outline" href="/">
                    Back
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
