{% extends 'base.html' %} {% block title %} Implementation {% endblock title %} {% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark menu">
    <a class="navbar-brand" href="#"><span>ATT</span>Pwn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/#inicio">Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plan">Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/results">Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/warriors">Warriors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/attck">ATT&CK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ImportData">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            {% include 'component-login.html' %}
        </ul>
    </div>
</nav>

{% endblock nav %} {% block content %}
<div class="row">
    <div class="col">
        <h2 class="text-center logo-2">Implementations</h2>
    </div>
</div>

<section>
    <div class="container">
        <div class="row justify-content-center my-2 ">
            <div class="col-md-7">
                <h5 class="text-white text-left">Tactics</h5>
                <div class="text-center">
                    <select class="custom-select" id="tactic" name="tactic">
            {% for tactic in tacticList %}
            <option value="{{tactic.IDMitre}}"
              >{{tactic.IDMitre}} - {{tactic.Name}}</option
            >
            {% endfor %}
          </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-5">
                <h5 class="text-white text-left">Techniques</h5>

                <div class="text-center">
                    <select class="custom-select" id="intel" name="intel">
            {% for tech in techniqueList %}
            <option value="{{tech.Function}}"
              >{{tech.IDMitre}} - {{tech.Name}} - {{tech.Function}}</option
            >
            {% endfor %}
          </select>
                </div>
            </div>
            <div class="col-md-2  py-4">
                <button id="selectImplementation" class="btn btn-outline mt-2  w-100">Select</button>
            </div>
        </div>

    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-10 mt-2 pl-3 text-center">
            <textarea class="text-area-disabled shadow bg-threat rounded text-white w-100 pl-3 pt-2" rows="10" cols="50" placeholder="Function..." name="functionFile" id="functionFile" readonly></textarea>
        </div>
    </div>
    </div>
</section>

<!--====== Javascripts & Jquery ======-->

<script>
    var tactic_select = document.getElementById("tactic");
    var intel_select = document.getElementById("intel");
    tactic_select.onclick = function() {
        tactic = tactic_select.value;

        fetch("/Directive/tactic/" + tactic + "/True").then(function(response) {
            response.json().then(function(data) {
                var optionHTML = "";
                for (var intel of data.intels) {
                    optionHTML +=
                        '<option value="' +
                        intel.Function +
                        '">' +
                        intel.IDMitre +
                        " - " +
                        intel.Name +
                        " - " +
                        intel.Function +
                        "</option>";
                }
                intel_select.innerHTML = optionHTML;
            });
        });
    };

    var Drop_Intel = document.getElementById("intel");
    var selectImplementation = document.getElementById("selectImplementation");
    selectImplementation.onclick = function() {

        if (Drop_Intel.value != "") {
            var filename = Drop_Intel.value;
            fetch("/givemefile/" + filename).then(function(response) {
                response.json().then(function(data) {
                    document.getElementById("functionFile").value = data.file;
                });
            });
        } else {
            document.getElementById("functionFile").value = "";
        }
    };
</script>

{% endblock %}