{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark menu">
    <a class="navbar-brand" href="#"><span>ATT</span>Pwn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#inicio">Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plan">Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/results">Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/warriors">Warriors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/attck">ATT&CK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ImportData">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>

{% endblock nav %} {% block content %}

<!-- Icon Divider -->
<script type="text/javascript">
    function Reloadimage(id, imagen) {
        var image = "static/img/portfolio/" + imagen;
        document.getElementById(id).setAttribute("src", image);
    }

    function ReloadimagePop(id, imagen) {
        id = "Pop" + id;
        var image = "static/img/portfolio/" + imagen;
        document.getElementById(id).setAttribute("src", image);
    }

    setTimeout(function() {
        $("#alert_div").fadeOut("fast");
    }, 5500); // <-- time in milliseconds
</script>

<div class=" ">
    <!--  Flash messages-->
    <div class="row flash justify-content-center">
        <div class="col-md-12 text-center plan-card justify-content-center">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} {% if "success" in category %}

            <div class="alert text-success" role="alert" id="alert_div">
                {{ message }}
            </div>
            {% elif "danger" in category %}

            <div class="alert text-danger" id="alert_div">
                {{ message }}
            </div>
            {% else %}
            <div class="alert text-warning" id="alert_div">
                {{ message }}
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}
        </div>
    </div>
    <!-- END Flash messages-->

    <form method="post" class="row justify-content-center my-5">
        <!--Warrior select-->
        <div class="col-lg-2 col-md-4 mt-2">
        <select class="custom-select" id="State" name="State">
            {% if Estado==""  %}
                <option value="" selected>All </option>
            {% else %}
                <option value="">All </option>    
            {% endif %}

            {% if Estado=="Alive"  %}
                <option value="Alive" selected>Living Warriors</option>
            {% else %}
                <option value="Alive" >Living Warriors</option>   
            {% endif %}

            {% if Estado=="Dead"  %}
                <option value="Dead" selected>Dead Warriors</option>
            {% else %}
                <option value="Dead" >Dead Warriors</option>  
            {% endif %}

            
            
         

        </select>
        </div>
        <!-- Filter select-->
        <div class="col-md-2 text-center mt-2">
            <button type="input" class="btn btn-outline w-100">Filter</button>
        </div>
    </form>

    <section class="mt-3">
        <div class="row p-sm-2 pt-md-0 px-4 pt-lg-2 justify-content-center">
            <div class="col-md-8">
                <div class="row justify-content-center">
                    {% for warrior in warriorlist %}
                    <div class="col-4 col-md-3 col-lg-3 my-4 py-auto">
                        <div class="card neo align-items-center pt-4" data-toggle="modal" data-target="#A{{warrior.IDWarrior}}">
                            {% if "Windows 10" in warrior.Os %}
                            <img class="os" id="{{warrior.IDWarrior}}" alt="{{warrior.Alias}}" />
                            <script>
                                Reloadimage("{{warrior.IDWarrior}}", "win10.png");
                            </script>
                            {% elif "Windows 7" in warrior.Os %}
                            <img class="os" id="{{warrior.IDWarrior}}" alt="{{warrior.Alias}}" />
                            <script>
                                Reloadimage("{{warrior.IDWarrior}}", "win7.png");
                            </script>
                            {%elif "Ubuntu" in warrior.Os %}
                            <img class="os" id="{{warrior.IDWarrior}}" alt="{{warrior.Alias}}" />
                            <script>
                                Reloadimage("{{warrior.IDWarrior}}", "ubuntu.png");
                            </script>
                            {% elif "Windows 8" in warrior.Os %}
                            <img class="os" id="{{warrior.IDWarrior}}" alt="{{warrior.Alias}}" />
                            <script>
                                Reloadimage("{{warrior.IDWarrior}}", "win8.png");
                            </script>
                            {% else %}
                            <img class="os" id="{{warrior.IDWarrior}}" alt="{{warrior.Alias}}" />
                            <script>
                                Reloadimage("{{warrior.IDWarrior}}", "uknown.png");
                            </script>
                            {% endif %}

                            <div class="card-body">
                                <p class="card-text text-light">{{warrior.Os}}</p>
                                <p class="card-text text-light text-center warrior">
                                    {{warrior.Alias}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>

<div class="mt-4 pt-5 align-self-center align-middle">
    {% for warrior in warriorlist %}

    <!-- Modal -->
    <div class="modal fade" id="A{{warrior.IDWarrior}}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-attpwn">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Warrior</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body w-100">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="text-center">
                                <img class="modal-result-image" id="Pop{{warrior.IDWarrior}}" alt="{{warrior.Alias}}" />
                            </div>
                            {% if "Windows 10" in warrior.Os %}
                            <script>
                                ReloadimagePop("{{warrior.IDWarrior}}", "win10.png");
                            </script>
                            {% elif "Windows 7" in warrior.Os %}
                            <script>
                                ReloadimagePop("{{warrior.IDWarrior}}", "win7.png");
                            </script>
                            {%elif "Ubuntu" in warrior.Os %}
                            <script>
                                ReloadimagePop("{{warrior.IDWarrior}}", "ubuntu.png");
                            </script>
                            {% elif "Windows 8" in warrior.Os %}
                            <script>
                                ReloadimagePop("{{warrior.IDWarrior}}", "win8.png");
                            </script>
                            {% else %}
                            <script>
                                ReloadimagePop("{{warrior.IDWarrior}}", "uknown.png");
                            </script>
                            {% endif %}
                        </div>
                        <div class="row mt-1 justify-content-center">
                            <div class="col-md text-center">
                                <h2 class="warrior-card-title">{{warrior.Alias}}</h2>
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col-md text-center">
                                <p class="text-attpwn-white">{{warrior.Os}}</p>

                                <table class="table text-center modal-table mt-4">
                                    <tr class="text-white tr-thead">
                                        <th>ID</th>
                                        <th>Architecture</th>
                                        <th>PID</th>
                                        <th>Last Seen</th>
                                        <th>IP</th>
                                    </tr>
                                    <tr class="text-dark">
                                        <td>{{warrior.Alias}}</td>
                                        <td>{{warrior.Arch}}</td>
                                        <td>{{warrior.PID}}</td>
                                        <td>{{warrior.Lastseen}}</td>
                                        <td>{{warrior.IP}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row justify-content-end">
                        <div class="col-md">
                            <button type="button" class="btn btn-outline w-100" href="#" data-dismiss="modal" role="button">
                Close
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}